.wow-editor {
    margin: $editor-margin !important;

    padding: $editor-padding;
    position: relative;

    pointer-events: all;

    &.section {
        background-color: $editor-section;

        &.wow-hover {
            box-shadow: inset 0px 0px 0px 3px $hover-section;
        }
    }

    &.row {
        background-color: $editor-row;

        &.wow-hover {
            box-shadow: inset 0px 0px 0px 3px $hover-row;
        }
    }

    &.column {
        background-color: $editor-column;

        &.wow-hover {
            box-shadow: inset 0px 0px 0px 3px $hover-column;
        }

        .content-container {
            min-height: $editor-module-height;
        }
    }

    &.module {
        background-color: $editor-module;
        min-height: $editor-module-height;

        &.wow-hover {
            box-shadow: inset 0px 0px 0px 3px $hover-module;
        }
    }
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
