/* Magnific Popup styles. */
// Default Magnific Popup modal styles.
.mfp-ready {
    z-index: 9999999999999;
}

.mfp-container {
    height: 100%;
    position: relative;

    .mfp-content {
        width: 90%;
        margin: auto;
        pointer-events: all;
        padding: 1rem;
    }
}

// Modal menus.
#wow-modal-menu .wow-modal {
    background-color: $modal-background;
    text-align: center;

    // Modal button styles.
    button {
        display: inline-block;
        line-height: 1;
        cursor: pointer;
        transition: background-color .25s ease-out, color .25s ease-out;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 2px;
        padding: $modal-padding (2 * $modal-padding);
        margin: 0 0 $modal-margin;
        font-size: 0.9rem;
        background-color: $modal-button-background;
        color: $modal-button-color;
        margin: $modal-margin 0;
    }

    // Modal title styles.
    .wow-modal-title {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.25rem;
        }
    }

    // Modal form inputs.
    .wow-modal-options {
        input {
            width: auto !important;
            margin: auto;
        }

        label > input[type=text] {
            display: inline-block;
            width: 100%;
        }

        input[type=number] {
            text-align: center;
        }

        input[type=radio] {
            visibility: hidden;
            display: none;
        }

        input[type=checkbox] {
            text-align: left;
        }

        input[type=radio] + label {
            cursor: pointer;
            padding: ($modal-padding * 0.125);
            display: inline-block;
            vertical-align: baseline;
            margin: 0 !important;
        }

        input[type=radio]:checked + label {
            background-color: $modal-input-selected;
        }

        .wow-image {
            width: 100%;

            .row, [class*='row-'] {
                .column, [class*='column-'] {
                    background-color: $modal-column;
                    margin: (0.125 * $modal-margin);
                }
            }
        }
    }

    // Modal for deleting a component.
    &.wow-modal-delete {
        margin: auto;
        padding: 10px 20px;
        text-align: center;
        width: 20%;
    }

    // Modal for adding in a layout.
    &.wow-modal-layout {
        margin: auto;
        width: 80%;
    }

    // Modal for editing a component.
    &.wow-modal-edit {
        .wow-modal-preview {
            width: 90%;
            height: 75%;
            margin: auto;

            p {
                padding: 25%;
            }

        }

        #colorChoice {
            #colorBackground {
                .wow-color-choice.squishi {
                    width: 100%;

                    .squishi-title {
                        text-align: center;
                        height: 30px;
                        padding: 0;
                        opacity: 0.75;
                        text-transform: none;

                        &.active {
                            box-shadow: inset 3px 3px 0 0 $squishi-color, inset -3px -3px 0 0 $squishi-color;
                            opacity: 1;
                        }
                    }
                }
            }

            .squishi-content {
                .wow-color-button {
                    display: inline-table;
                    width: 100px;
                    height: 100px;
                    position: relative;
                    border: 1px dotted $module;

                    p {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }

                input[type=radio]:checked + .wow-color-button {
                    border: 1px solid  $module;
                    box-shadow: inset 1px 1px 1px 1px $module, inset -1px -1px 1px 1px $module;

                    :before {
                        content: '\2714';
                        font-size: 2rem;
                        display: block;
                    }
                }
            }
        }

        #idChoice {
            .layoutError {
                display: none;
            }
        }
    }
}
