// Settings

//  1. Global
// ---------
// Font and text
$font-family: "sans-serif";
$font-weight: 600;
$font-style: normal;

// To help with Sass color variables - http://chir.ag/projects/name-that-color/
$white: #ffffff;
$black: #000000;

//  2. Hover Components
//  -------------------
$menu-width: 310px;
$menu-button: 30px;
$menu-button-cover: 20px;

$menu-tooltext-width: 120px;
$menu-tooltext-center: $menu-tooltext-width / 2;

$menu-section: blue;
$menu-row: green;
$menu-column: purple;
$menu-module: deeppink;

$hover-section: lightblue;
$hover-row: lightgreen;
$hover-column: violet;
$hover-module: lightpink;

$editor-section: skyblue;
$editor-row: lime;
$editor-column: lavender;
$editor-module: pink;

//  3. Editor Components
//  --------------------
$editor-margin: 0;
$editor-padding: 30px;
$editor-module-height: 30px;
