// Settings

//  1. Global
// ---------
// Font and text
$font-family: "sans-serif";
$font-weight: 600;
$font-style: normal;

// To help with Sass color variables - http://chir.ag/projects/name-that-color/
$white: #ffffff;
$black: #000000;

$menu-section: blue;
$menu-row: green;
$menu-column: purple;
$menu-module: deeppink;

//  2. Hover Menu
$menu-width: 310px;
$menu-button: 30px;
